<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.fionnbar.homework.guardian</string>
  <key>ProgramArguments</key>
  <array>
    <string>__GUARDIAN_BINARY__</string>
    <string>--config</string>
    <string>__GUARDIAN_CONFIG__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>StandardOutPath</key>
  <string>__GUARDIAN_LOG_DIRECTORY__/guardian.log</string>
  <key>StandardErrorPath</key>
  <string>__GUARDIAN_LOG_DIRECTORY__/guardian-error.log</string>
</dict>
</plist>
